@import './variables';

.quantity-type-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 1em 5% 1em 0%;
    background: $secondary-color;
    border-radius: 7px;
    &:hover{
        color: red;
        border: red solid 1px;
        .quantity-type-main-name{
            font-weight: 700;
        }
    }
}

.quantity-type-main-name{
    padding: 1em;
    font-size: 19px;
    font-weight: 500;
}