@import './variables';

.quantity-converter{
    width: 45%;
    margin: auto;
    padding: 3em 0em;
    font-family: $primary-font ;
}

.svg-icons{
    display: none;
}

.quantity-type{
    font-family: $primary-font;
    font-weight: 500;
    padding: 1em 0em;
}

.quantity-units{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 50px;
    height: 85px;
}
