@import './variables';

.quantity-converter{
    width: 45%;
    margin: auto;
    padding: 3em 0em;
    font-family: $primary-font ;
}


.quantity-type{
    font-family: $primary-font;
    font-weight: 500;
    padding: 1em 0em;
}

.quantity-units{
    display: flex;
    justify-content: space-between;
}


@media (max-width:576px){
    .quantity-converter{
        width: 90%;
        padding: 2em 0em;
    }
}
