@import './variables';

.quantity-sub-units{
    display: flex;
    padding: 1em 0em;
}

.quantity-type-sub{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quantity-type-sub-message{
    font-weight: 500;
    font-size: 15px;
    color: $primary-text;
    opacity: 62%;
    padding: 0.5em 0em;
}

.quantity-type-sub-input{
    padding: 1em;
}