@import './variables';

.quantity-sub-units{
    display: flex;
    padding: 1em 0em;
    justify-content: space-between;
}

.quantity-type-sub{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.quantity-type-sub-message{
    font-weight: 500;
    font-size: 15px;
    color: $primary-text;
    opacity: 62%;
    padding: 0.5em 0em;
}

.quantity-type-sub-input{
    padding: 0.25em 0em 0.2em 0.5em;
    font-size: 31px;
    font-weight: 500;
}