
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap');


$background-color: #F5F6FA;
$secondary-color: #ffffff;
$primary-color: #446DFF;
$primary-font: 'Montserrat', sans-serif;
$header-font: 'Poppins', sans-serif;