@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 12em;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

.sitename {
  font-size: 21px;
  padding: 16px 0em;
  font-weight: 600;
}

.navbar-button {
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar-button:hover {
  color: #446DFF;
}

.app-title {
  font-size: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 25px 0px;
  background: #446DFF;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-title-name {
  width: 50%;
  height: 100%;
}

.quantity-converter {
  width: 50%;
  margin: auto;
  padding: 3em 0em;
  font-family: "Montserrat", sans-serif;
}

.svg-icons {
  display: none;
}

.quantity-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1em 0em;
}

.quantity-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  width: 50px;
  height: 85px;
}

#volume-g .a {
  fill: #f5f5f5;
  stroke: #f5f5f5;
}

#volume-g .b {
  fill: #e4e4e4;
}

#volume-g .c {
  fill: #e0dcdc;
}

#volume-g .d {
  fill: #919090;
}

#temp-g .a {
  fill: #f5f5f5;
}

#temp-g .b {
  fill: #e6e6e6;
}

#temp-g .c {
  fill: #e4e4e4;
}

#temp-g .d {
  fill: #919090;
}

#temp-g .e {
  fill: #e0dcdc;
}

#length-g .a {
  fill: #e0dcdc;
}

#length-g .b {
  fill: #f5f5f5;
}

#length-g .c {
  fill: #919090;
}

#length-g:focus .a {
  fill: #edfdf9;
}

#length-g:focus .b {
  fill: #ffa058;
}

#length-g:focus .c {
  fill: #0ec098;
}

#length-g:hover .a {
  fill: #edfdf9;
}

#length-g:hover .b {
  fill: #ffa058;
}

#length-g:hover .c {
  fill: #0ec098;
}

.quantity-type-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 1em 5% 1em 0%;
  background: #ffffff;
  border-radius: 7px;
}

.quantity-type-main:hover {
  color: red;
  border: red solid 1px;
}

.quantity-type-main:hover .quantity-type-main-name {
  font-weight: 700;
}

.quantity-type-main-name {
  padding: 1em;
  font-size: 19px;
  font-weight: 500;
}

.quantity-sub-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App {
  width: 100%;
  height: 100vh;
  background: #F5F6FA;
}
/*# sourceMappingURL=style.css.map */