@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 12em;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

.sitename {
  font-size: 21px;
  padding: 16px 0em;
  font-weight: 600;
}

.navbar-button {
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar-button:hover {
  color: #446DFF;
}

.app-title {
  font-size: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 25px 0px;
  background: #446DFF;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-title-name {
  width: 50%;
  height: 100%;
}

.quantity-converter {
  width: 50%;
  margin: auto;
  padding: 3em 0em;
  font-family: "Montserrat", sans-serif;
}

.svg-icons {
  display: none;
}

.quantity-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1em 0em;
}

.quantity-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  width: 50px;
  height: 85px;
}

.quantity-type-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 1em 0%;
  background: #ffffff;
  border-radius: 7px;
  border: white solid 1px;
}

#quantity-type-main-length:hover, #quantity-type-main-length:focus {
  border: #0EC098 solid 1px;
  background: #EDFDF9;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

#quantity-type-main-length:hover .quantity-type-main-name, #quantity-type-main-length:focus .quantity-type-main-name {
  font-weight: 700;
  color: #0EC098;
  opacity: 100%;
}

#quantity-type-main-temperature:hover, #quantity-type-main-temperature:focus {
  border: #FD5160 solid 1px;
  background: #FFEEF0;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

#quantity-type-main-temperature:hover .quantity-type-main-name, #quantity-type-main-temperature:focus .quantity-type-main-name {
  font-weight: 700;
  color: #FD5160;
  opacity: 100%;
}

#quantity-type-main-volume:hover, #quantity-type-main-volume:focus {
  border: #7224FF solid 1px;
  background: #E8DDFF;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

#quantity-type-main-volume:hover .quantity-type-main-name, #quantity-type-main-volume:focus .quantity-type-main-name {
  font-weight: 700;
  color: #7224FF;
  opacity: 100%;
}

.quantity-type-main-name {
  padding: 1em;
  font-size: 19px;
  font-weight: 500;
  color: #000000;
  opacity: 21%;
}

#volume-g .a {
  fill: #f5f5f5;
  stroke: #f5f5f5;
}

#volume-g .b {
  fill: #e4e4e4;
}

#volume-g .c {
  fill: #e0dcdc;
}

#volume-g .d {
  fill: #919090;
}

#volume-g:hover .a {
  fill: #edfdf9;
}

#volume-g:hover .b {
  fill: #ffa058;
}

#volume-g:hover .c {
  fill: #0ec098;
}

#temp-g .a {
  fill: #f5f5f5;
}

#temp-g .b {
  fill: #e6e6e6;
}

#temp-g .c {
  fill: #e4e4e4;
}

#temp-g .d {
  fill: #919090;
}

#temp-g .e {
  fill: #e0dcdc;
}

#temp-g:hover .a {
  fill: #edfdf9;
}

#temp-g:hover .b {
  fill: #ffa058;
}

#temp-g:hover .c {
  fill: #0ec098;
}

#length-g .a {
  fill: #e0dcdc;
}

#length-g .b {
  fill: #f5f5f5;
}

#length-g .c {
  fill: #919090;
}

#length-g:hover .a {
  fill: #000000;
}

#length-g:hover .b {
  fill: #000000;
}

#length-g:hover .c {
  fill: #0ec098;
}

.quantity-sub-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quantity-type-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.quantity-type-sub-message {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  opacity: 62%;
  padding: 0.5em 0em;
}

.quantity-type-sub-input {
  padding: 0.25em 0em 0.2em 0.5em;
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto";
  border: #e4e4e4 solid 1px;
  border-bottom: 0px;
}

.quantity-type-sub-input:focus {
  outline: none;
}

.quantity-type-sub-dropdown {
  font-size: 15px;
  padding: 1em 1em;
  border: #e4e4e4 solid 1px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.quantity-type-sub-dropdown:focus {
  outline: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.quantity-subUnit-container {
  position: relative;
}

.arrow {
  position: absolute;
  top: 45%;
  right: 5%;
  pointer-events: none;
}

.App {
  width: 100%;
  height: 100%;
  background: #F5F6FA;
}
/*# sourceMappingURL=style.css.map */